@model IEnumerable<KrastevNewsSystem.Models.NewsArticleComment>

@foreach (var comment in (IEnumerable<KrastevNewsSystem.Models.NewsArticleComment>)ViewData["ArticleComments"])
{
    if (comment.CommentRepliedTo != null)
    {
        <div>
            In reply to: @comment.CommentRepliedTo.CommentAuthor.UserName since: @comment.CommentRepliedTo.PostedOn
        </div>
    }
    <div>
        @Html.LabelFor(c => comment.CommentAuthor)
        @Html.DisplayTextFor(c => comment.CommentAuthor.UserName)
        @*By @comment.CommentAuthor.UserName made @comment.PostedOn*@
        <br />
        @Html.LabelFor(c => comment.PostedOn)
        @Html.DisplayTextFor(c => comment.PostedOn)
    </div>
        <p>
            @comment.Content
        </p>
                <div>
                    <span>
                        @Html.ActionLink("Reply to Comment", "Reply", "ArticleComment", new { commentedPostID = ViewData["ArticleID"], commentID = comment.Id }, null)
                    </span>
                    <span>
                        @Html.ActionLink("Delete Comment", "Delete", "ArticleComment", new { commentID = comment.Id }, null)
                    </span>
                </div>
}
