@using KrastevNewsSystem.Models
@model SearchCriteriaViewModel

@{
    ViewBag.Title = "Enter Articles Search Criteria";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("SearchViaForm", "ArticlesSearch", FormMethod.Post, new { searchCriteria = Model }))
{
    <div>
        @Html.LabelFor(model => model.freeTextSearchCriteria)
        @Html.TextBoxFor(model => model.freeTextSearchCriteria, new { @class = "form-control" })
        @Html.LabelFor(model => model.keywordsValues)
        @Html.ListBoxFor(m => m.keywordsValues, new MultiSelectList(Model.keywordsValues) )

    </div>
    <input type="submit"/>
 }

